/* elemento de bloque */
h1{
    background-color: lightblue;
    height: 150px;
    width: 100px;
}

h2{
    background-color: purple;
    width: 50px;
}

/* elemento de linea no tienen ancho ni alto*/
a{
    background-color: lime;
    width: 300px;
    height: 300px;
}

/* div es un elemento de bloque */

.box-1{
    width: 100px;
    height: 100px;
    background-color: lime;
    /* separar contenido del borde */
    padding: 10px;
    /* se cuenta como caja, y se ve la diferencia de espacio, sus dimensionescuentan para el tamaño total */
    border:2px solid palevioletred;

    margin: 20px;
    /* sus dimensiones NO cuentan para el tamaño total */
    outline: 5px solid red;
}

.box-2{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}
/* --------------------------------------------------- */
/* MARGIN Y PADDING */
.box1{
    width: 200px;
    height: 200px;
    background: lightgreen;
    /* margin: 1em 2em 3em 4em; */
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 3em;
    margin-left: 4em;
}

.box2{
    width: 200px;
    height: 200px;
    background:  lightcoral;
    border: 2px solid blue;
    /* padding: 1em 2em 3em 4em; */
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 3em;
    padding-left: 4em;
}

.box2-content{
    width: 20px;
    height: 20px;
    background: yellow;
    border: 2px solid red;
}
/* ----------------------------------- */
/* BORDER */
/* 
    border width
        px|em|rem|%|....

    border-style
        none|hcoridden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit;

        Estas son medidas dependen del navegador
        thick -> ancho
        medium -> medio
        thin -> fino
    
    border-color
        ccs native|rgb|rgba|hsl|hsla|hexadecimal|transparent
    
    border-top-(width | style | color)
    border-rigth-(width | style | color)
    border-bottom-(width | style | color)
    border-left-(width | style | color)

 */
 
 .box1b, .box2b{
     width: 300px;
     height: 200px;
     margin: 2em;
 }

 .box1b{
     background-color: yellowgreen;
     border: 100px solid red;
     border-top-width: 200px;
     border-top-color: transparent;
 }

 .box2b{
     background-color: lightseagreen;
     border-left-width: 5px;
     border-left-style: dotted;
     border-left-color: blue;
 }

 /* OUTLINE */
 /* 
    Outline
        outline-width
            px|em|rem|%|....

    Outline-style
        none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit;

        Estas medidas dependen del navegador*
        thick (ancho)
        medium (medio)
        thin (fino)
        
    outline-color
        css native|rgb|rgba|hsl|hsla|hexadecimal|transparent

    outline-top-(width | style | color)
    outline-right-(width | style | color)
    outline-bottom-(width | style | color)
    outline-left-(width | style | color)
*/

.img-box{
    width: 90%;
    margin: 2em auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    border: 5px solid lightcoral;
    outline: 5px solid lightcoral;
    outline-offset: -45px;
}

.text{
    position: absolute;
    color: lightcoral;
    font-size: 3em;
}